/*
#ws-topbar .whapps > .divider {
    height: 72px;
    width: 2px;
    background-image: url(../img/nav_line.jpg);
    background-repeat: repeat-y;
}
*/

#ws-topbar .links > .link > .dropdown-toggle::after {
    display: none;
}

#ws-topbar .links > .link .category > .dropdown-toggle::before {
    content: "&larr;";
    margin-top: 6px;
    border-right: 4px solid white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#ws-topbar .links > .link .category > .dropdown-menu {
    left: -160px;
}

#ws-topbar .links > .divider {
    height: 72px;
    width: 2px;
    background-image: url(../img/nav_line.jpg);
    background-repeat: repeat-y;
}
#ws-topbar .nav.secondary-nav.links{
	float: left;
    margin: 0 0 10px;
}
#ws-topbar .dropdown.link{
	float: left;
    width: 100%;
		border-bottom: 1px solid #ccc;
}
#ws-topbar li.dropdown.link:last-child{
   border:none;
}
#ws-topbar .dropdown > .dropdown-menu {
    display: none;
		float:left;
		clear:both;
}
#ws-topbar .dropdown.open > .dropdown-menu {
    display: block;
}
#myaccount_info > div:nth-child(2) {
    float: left;
    margin: 5px 0 0;
    text-align: left;
}
#myaccount_info > div:nth-child(2) {
    text-align: left;
}


#ws-topbar .dropdown #myaccount_help{
	float:none;
	width:100%;
}

#myaccount_help > a {
	display:block;
	width:100%;
}	