#directory-form #basic #tab_users  {
    border: 2px solid #666666;
    border-radius: 15px 15px 0px 0px;
    color: #666666;
    margin: 20px auto auto;
    width: 480px;
    max-height: 342px;
    float: left;
}

#directory-form #basic #tab_users .rows {
    max-height: 310px;
    overflow: auto;
}

#directory-form #basic #tab_users .action_user {
    color: #666666;
    cursor: pointer;
    text-decoration: underline;
    line-height: 32px;
}

#directory-form #basic #tab_users .action_user:not(:first-child) {
    margin-left: 10px;
}
#directory-form #basic #tab_users .action_user:hover {
    color: #05addc;
}

#directory-form #basic #tab_users .column.first:not(:last-child) {
    border-right: 1px solid #A6A6A6;
}

#directory-form #basic #tab_users .column {
    float: left;
    text-align: center;
    height: 32px;
    line-height: 32px;
}

#directory-form #basic #tab_users select {
    height: 22px;
}

#directory-form #basic #tab_users .column.first {
    width: 230px;
    overflow: hidden;
    text-align:center;
}

#directory-form #basic #tab_users .column.third {
    width: 69px;
}

#directory-form #basic #tab_users .column.second {
    min-width: 159px;
    border-right: 1px solid #A6A6A6;
}

#directory-form #basic #tab_users .column.second select {
    margin-top: 5px;
    max-width: 140px;
}

#directory-form #basic #tab_users .column.merged {
    width: 480px;
}

#directory-form #basic #tab_users .row {
    height: 32px;
    margin-left: 0px;
}

#directory-form #basic #tab_users .row.title {
    background-color: #dddddd !important;
    border-bottom: 2px solid #666666 !important;
    border-radius: 13px 13px 0px 0px;
    font-weight: bold;
}

#directory-form #basic #tab_users .row:not(:last-child) {
    border-bottom: 1px solid #A6A6A6;
}

#directory-form #basic #tab_users .row:nth-child(odd) {
    background-color: #eeeeee;
}

#directory-form #basic #tab_users .row:nth-child(even) {
    background-color: #dddddd;
}

#directory-form #basic .add_user {
    margin: 20px 0 0 20px;
    color: #666666;
    background: #666666;
    width: 230px;
    border-radius: 15px 15px 15px 15px;
    float: right;
}

#directory-form #basic .add_user .add_content_wrapper {
    background: #EEEEEE;
    border-radius: 0 0 15px 15px;
}

#directory-form #basic .add_user .add_user_title {
    color: #eeeeee;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

#directory-form #basic .add_user select {
    width: 180px;
}

#directory-form #basic .add_user .add_user_fields {
    margin: auto;
    width: 200px;
}

#directory-form #basic .add_user .add_user_fields .tooltip-wrapper {
    margin-left: 0px;
}

#directory-form #basic .add_user .add_user_fields ul {
    list-style-type: none;
}

#directory-form #basic .add_user .add_user_div {
    margin: 10px auto auto auto;
    width: 200px;
    padding-bottom: 15px;
}

#directory-form #basic .add_user .add_user_div a {
    color: #333333;
}

#directory-form #basic .add_user label {
    color: #404040;
    width: auto;
}



#directory-form #basic .add_user .add_user_div:hover a {
    color: #05addc;
}

#directory-form #basic .add_user .add_user_div:hover .add_user_icon {
    background-position: 0 -24px;
    cursor: pointer;
}

#directory-form #basic .add_user .add_user_div .add_user_icon {
    background-image: url("../../../core/layout/images/plus_btn.png");
    background-position: 0 0;
    display: inline-block;
    height: 25px;
    margin-top: -4px;
    vertical-align: middle;
    width: 25px;
}

.pill-content {
    float: none!important;
    padding: 30px!important;
}

.buttons-right {
    margin-top: 10px;
}