#content_welcome_page {
    /*no need margin: 75px auto auto;
    width: 1000px;*/
		float:left;
		width:100%;
}

#content_welcome_page .left_div {
    width: 100%;
    float: left;
    /*no need height: 370px;
		padding: 10px 25px 0 0;*/
}

#content_welcome_page .left_div .title {
    /*no need color: #c4db4c;
		text-shadow: 1px 1px #333;*/
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 25px;
    text-align: center;
}

#content_welcome_page .left_div .learn_more {
    font-size: 16px;
    /*font-weight: bold;
    text-shadow: 1px 1px #333;*/
    text-align: center;
}

#content_welcome_page .left_div .learn_more > a {
    /*color: #EEEEEE;*/
}

#content_welcome_page .left_div .learn_more > a:hover {
    /*color: #05addc;
    text-decoration: underline;*/
}
