#loading {
    background-color: #999999;
    border: 1px none;
    border-radius: 1em;
    box-shadow: 3px 3px 3px #333333;
    color: #EBEBEB;
    display: none;
    font-size: large;
    left: 43%;
    opacity: 0.8;
    padding: 2em;
    position: absolute;
    top: 43%;
    z-index: 30000;
}
.ws-content{ float:left; width:100%;}
.list_panel {width: 20%; float:left;}
.container-fluid > .content { float:left; width:80%;}