#content_welcome_page .left_div {height:50px;}
#content_welcome_page .left_div .title {line-height: 35px;font-size: 20px;font-weight: bold; padding-bottom: 25px;text-align: center;}
#content_welcome_page .left_div .learn_more {font-size: 16px;font-weight: bold;text-shadow: 1px 1px #333;text-align: center;}
#content_welcome_page .right_div {}
#content_welcome_page .right_div .row_welcome_field {margin-top: 10px;padding-bottom: 10px;}
#content_welcome_page .right_div .row_welcome_field > label {width: 120px;margin-right: 20px;line-height: 30px;float:left;}
