<div>
    <!--div class="topbar">
        <div class="topbar-inner">
            <div class="container-fluid">
                <div id="ws-topbar" class="ws-topbar">
                    <a class="brand logo" href="#"/>
                    <ul class="nav whapps"/>
                    <ul class="nav secondary-nav links"/>
                </div>
            </div>
        </div>
    </div-->
    <div class="ws-content container-fluid page" id="ws-content">

    </div>
    <div class="footer_wrapper"><span class="powered_by"><a href="http://www.2600hz.com/" target="_blank" id="powered">${_t('powered_by')}</a><span class="tag_version"></span></span></div>

    <div id="loading">
        <div class="close-button">x</div>
        <div class="graphic"><img src="${_u()}/whapps/core/layout/images/loading.gif"/></div>
        <div class="text">${_t('please_wait')}</div>
        <div class="clear"/>
    </div>

</div>

