.portal-view {
    display: block;
    width: 100%;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*box-shadow: 0 2px 10px #333;
    background: rgb(30,87,153); /* Old browsers */
    /*background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(64,64,64,1) 0%, rgba(72,72,72,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(64,64,64,1)), color-stop(100%,rgba(72,72,72,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(64,64,64,1) 0%,rgba(72,72,72,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#484848',GradientType=0 ); /* IE6-9 */
}

.portal-view .left_part {
    width: 545px;
    float: left;
    border-right: 1px solid #ccc;
}

.portal-view .right_part {
    width: 400px;
    float: left;
    /*border-left: 1px solid #ccc;*/
}

.portal-view .bottom_part {
/*    border-top: 1px solid #ccc;*/
    float: left;
    width: 95%;
    padding: 20px;
}

.portal-view .bottom_part .contact_title {
    float: left;
}

.portal-view .bottom_part .link-quickcall {
    color: #05addc;
    text-decoration: underline;
}

.portal-view .bottom_part #manual_number {
    margin: 0 10px;
    width: 140px;
}

.portal-view .block {
    height: 320px;
    padding: 20px;
}

.portal-view .left_part .block:first-child, .portal-view .right_part .block:first-child {
    /*border-bottom: 1px solid #333;
    border-top: 1px solid #555;*/
}

.portal-view .left_part .block:last-child, .portal-view .right_part .block:last-child {
    /*border-top: 1px solid #555;
    border-bottom: 1px solid #333;*/
}

.portal-view .buttons {
    margin-top: 20px;
    text-align: center;
}

.portal-view #settings-view form label {
    width: 160px;
}

.portal-view #settings-view form .clearfix {
    margin-bottom: 5px;
}

.portal-view #settings-view form .input {
    margin-left: 180px;
}

.portal-view #settings-view form .input input {
    max-width: 150px;
    height: 14px;
    margin-top: 4px;
}

.portal-view #settings-view form .input input[type=checkbox] {
    margin-top: 9px;
}

.portal-view #settings-view form label .icon.phone {
    height: 26px;
    margin: -6px 5px 0 0;
}

.portal-view table.display td {
    font-size: 11px;
    padding: 1px;
}

.portal-view #voicemail-grid, .portal-view #user_cdr-grid {
    width: 100% !important;
}

.portal-view .dataTables_filter input[type="text"] {
    width: 120px;
}

.portal-view .dataTables_filter{
    width: 190px;
    margin-top: 5px;
}

.portal-view .dataTables_length{
    width: 25%;
}

.portal-view .dataTables_info{
    width: 35%;
}

.portal-view .dataTables_paginate{
    width: 40%;
}

.portal-view #voicemail-grid_wrapper .actions_voicemail {
    display: inline-block;
}

.portal-view #voicemail-grid_wrapper .actions_voicemail button {
    margin-right: 2px;
}

.portal-view #user_cdr-grid_wrapper .date {
    display: inline-block;
    /*no needwidth: 400px;*/
}

.portal-view #user_cdr-grid_wrapper .date input {
    width: 70px;
}

.portal-view .dataTables_scrollHeadInner {
    width: 100% !important;
}

.portal-view .dataTables_scrollHeadInner .display {
    border-collapse: collapse;
    width: 100% !important;
}

.portal-view tr:first-child td:first-child {
    border-top-left-radius: 5px;
}

.portal-view tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

.portal-view tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.portal-view tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.portal-view .devices_wrapper .list_devices {
    /*background: #222;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 0;
    margin: 10px 0;
    max-height: 170px;
    overflow: auto;
}

.portal-view .devices_wrapper .list_devices .device_line {
    width: 100%;
    height: 25px;
    line-height: 25px;
}

.portal-view .devices_wrapper .list_devices .device_line > * {
    margin: 0 5px;
    float: left;
}

.portal-view .devices_wrapper .list_devices .device_line .edit_icon {
    background: url('images/edit_icon.png') no-repeat scroll center center transparent;
    cursor: pointer;
    height: 25px;
    width: 20px;
}

.portal-view .devices_wrapper .list_devices .device_line .device_name {
    font-weight: bold;
    color: #05addc;
}

.portal-view .devices_wrapper .list_devices .device_line .device_name.registered {
    color: #5AB05A;
}

.portal-view .devices_wrapper .list_devices .device_line .device_name.unregistered {
    color: #DD272A;
}

.portal-view .devices_wrapper .help_devices {
    color: #bbb;
    font-style: italic;
}
