#callflow-view {
    width: 100%;
}

#callflow-view .callflow_help, .popup_help .callflow_help {
    background: url(../images/callflow_help.gif) no-repeat center;
    height: 644px;
    /*width: 847px;*/
    margin: auto;
    border-radius: 10px;
}

#ws_callflow {
    width: 100%;
}

#ws_callflow #callflow_header {
    width: 100%;
    height: 30px;
}

#ws_callflow #callflow_header #pending_change {
    float: left;
    width: 85%;
    text-align: center;
    display: none;
}

#ws_callflow #callflow_header #pending_change span {
    /*text-shadow: 1px 2px #363636;
    color: #05ADDC;*/
    font-weight: lighter;
    font-style: italic;
    font-size: 14px;
}

#ws_callflow #ws_cf_flow {
    width: 100%;
    overflow-x: auto;
    padding-top: 10px;
    text-align: center;
}

#ws_callflow span.flow {
    width: 80%;
}

#ws_callflow .child {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    white-space: normal;
}

#ws_callflow .branch {
    display: block;
    text-align: center;
}

#ws_callflow .node.active {
    background-color: #fff;
    border-radius:10px;
    border: 3px solid #05addc;
}

#ws_callflow .node.inactive {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

#ws_callflow .children {
    display: block;
    white-space: pre;
}

#ws_callflow div.tools {
    width: 168px;
    right: 0%;
    top: 100px;
    margin-top: 0px;
    display: inline-block;
    position: fixed;
		color:#fff;
}

#ws_callflow .tool {
    text-align: center;
    vertical-align: middle;
}

#ws_callflow .tool_name {
    font-size: 11px;
    line-height: 11px;
}

#ws_callflow .tool .action.inactive {
    display: none;
}

#ws_callflow .tool .action.active {
    z-index: 10000;
}

#ws_callflow .title {
    background: url("../images/blue_bar.png");
    font-size: 12px;
    height: 25px;
    padding-left: 20px;
    line-height: 25px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

#callflow-view .wrapper_callflow_buttons {
    display: block;
    width: 322px;
    margin: auto;
    margin-bottom: 5px;
}

#callflow-view .wrapper_callflow_buttons .btn {
    width: 129px;
    text-align: center;
    display: inline-block;
    margin-left: 0px;
}

#callflow-view .callflow_helpbox_wrapper {
    position: absolute;
    right: 175px;
    width: 160px;
    top: 100px;
    display: none;
}

#callflow-view .callflow_helpbox_wrapper .tip_box {
    background-color: #3D3D3D;
    border: 1px solid #333333;
    border-radius: 5px;
    opacity: 80%;
    padding: 5px 2px 5px 9px;
    text-align: left;
    font-size: 10px;
    line-height: 12px;
		color:#fff;
}

#callflow-view .tooltip {
    float: right;
    margin-top: 6px;
    cursor: pointer;
}

#callflow-view .pulse-box {
    -webkit-animation: "pulse-box" 1s ease-in-out 0 infinite alternate;

    animation-name: pulse-box;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.wrapper_callflow_buttons .btn.danger, .wrapper_callflow_buttons .alert-message.danger, .wrapper_callflow_buttons .btn.error, .wrapper_callflow_buttons .alert-message.error {
    background-color: #C43C35;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.wrapper_callflow_buttons .btn.success, .wrapper_callflow_buttons .alert-message.success {
    background-color: #57A957;
    background-image: -moz-linear-gradient(center top , #62C462, #57A957);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.wrapper_callflow_buttons .btn.danger, .wrapper_callflow_buttons .alert-message.danger, .wrapper_callflow_buttons .btn.danger:hover, .wrapper_callflow_buttons .alert-message.danger:hover, .wrapper_callflow_buttons .btn.error, .wrapper_callflow_buttons .alert-message.error, .wrapper_callflow_buttons .btn.error:hover, .wrapper_callflow_buttons .alert-message.error:hover, .wrapper_callflow_buttons .btn.success, .wrapper_callflow_buttons .alert-message.success, .wrapper_callflow_buttons .btn.success:hover, .wrapper_callflow_buttons .alert-message.success:hover, .wrapper_callflow_buttons .btn.info, .wrapper_callflow_buttons .alert-message.info, .wrapper_callflow_buttons .btn.info:hover, .wrapper_callflow_buttons .alert-message.info:hover {
    color: #FFFFFF;
}
.wrapper_callflow_buttons .btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E6E6E6;
    background-image: linear-gradient(#FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    transition: all 0.1s linear 0s;
}
@-webkit-keyframes pulse-box {
    0% { box-shadow: 0px 0px 0px #73F03C inset, 0px 0px 0px #14FF00; }
    100% { box-shadow: 0px 0px 30px #73F03C inset, 0px 0px 10px #14FF00; }
}

@keyframes pulse-box {
    0% { box-shadow: 0px 0px 0px #73F03C inset, 0px 0px 0px #14FF00; }
    100% { box-shadow: 0px 0px 30px #73F03C inset, 0px 0px 10px #14FF00; }
}

